header {
    display: flex;
    background-color: #43919B;
    padding: 20px;
    color: antiquewhite;
    flex-direction: row;
    justify-content: space-around;
    
       }
    
    
section{
    display: grid; 
     grid-template-columns: 1fr 1fr 1fr 1fr;
       }
    
article{
        background-color: #30AADD;
        grid-column:1/4 ;
        }
    
aside{
        background-color: beige;
        padding: 30px;
        grid-column:
        
    }
footer {
    background-color: black;
    color: beige;
    padding: 10px;
    text-align: center;
    
    }

    